<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.ClassTreeMapper">
    <!--查询顶级节点-->
    <select id="getClassITop" resultType="java.util.Map">
        SELECT
            NODECODE,
            PARENTCODE,
            NAME,
            TYPE,
            CLASSCODE,
            CLASSTABLECODE,
            TABLECODE,
            SERIAL
        FROM
            CLASSNODE
        WHERE 1 = 1 AND NODECODE ='D_DATA'
        ORDER BY
	SERIAL
    </select>

    <!--树根节点-->
    <select id="getClassI" resultType="java.util.Map">
        SELECT NODECODE,PARENTCODE,NAME,TYPE,CLASSCODE,CLASSTABLECODE,TABLECODE,SERIAL FROM CLASSNODE
        WHERE 1=1
        <if test="TYPE != null and TYPE != ''">
            AND TYPE =#{TYPE}
        </if>
        <if test="nodeCode != null and nodeCode != ''">
            AND PARENTCODE =#{nodeCode}
        </if>
        ORDER BY SERIAL
    </select>

    <!--中间门类 底层门类组成-->
    <select id="getClassCL" resultType="java.util.Map">
        SELECT NODECODE,PARENTCODE,NAME,TYPE,CLASSCODE,CLASSTABLECODE,TABLECODE,SERIAL FROM CLASSNODE WHERE (TYPE ='C' or TYPE='L')
        <if test="nodeCode != null and nodeCode != ''">
            AND PARENTCODE = #{nodeCode}
        </if>
        ORDER BY SERIAL
    </select>

    <!--数量-->
    <select id="getClassCLCount" resultType="int">
        SELECT count(PARENTCODE) FROM CLASSNODE WHERE (TYPE ='C' or TYPE='L')
        <if test="nodeCode != null and nodeCode != ''">
            AND PARENTCODE =#{nodeCode}
        </if>
        GROUP BY PARENTCODE
    </select>

    <!--查询旗下子节点-->
    <select id="getTableByNodeCode" resultType="java.util.Map">
        SELECT * from CLASSNODE WHERE PARENTCODE = #{nodeCode}
    </select>

    <!--获取数据字典表-->
    <select id="getAllDictionaryData" resultType="java.util.Map">
        SELECT * FROM SYSTEMDICTIONARYCATALOG
    </select>

</mapper>
