<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.OriginaFilesMapper">

    <!--根据recordCode获取档案旗下原文-->
    <select id="getFilesByRecordCode" resultType="java.util.HashMap">
        select * FROM ${tableName}
        where  RECORDCODE=#{recordCode}
        <if test="type != null and type != ''">
            AND  TRASHSTATUS=#{type}
        </if>
        order by TOP DESC
    </select>

    <!--获取原文存放地址及水印文字-->
    <select id="getUpLoadFilePath" resultType="java.util.HashMap">
        SELECT STOREID,STORETYPE,FILELOC,TIMESTYLEPOS,WATERMARKTXT FROM ORIGINALMANAGESETTING
    </select>

    <!--修改水印文字-->
    <update id="upOriginalmanagesettingBywatermarkTxt" parameterType="java.util.Map">
        UPDATE ORIGINALMANAGESETTING SET
        <choose>
            <when test="watermarkTxt != null and watermarkTxt !=''">
                WATERMARKTXT=#{watermarkTxt}
            </when>
            <otherwise>
                WATERMARKTXT=''
            </otherwise>
        </choose>
        WHERE  STOREID=#{storeId}
    </update>









    <!--添加录入原文纪录表数据-->
    <insert id="addUpLoadFileOriginaFiles" parameterType="com.wsda.project.model.OriginalFiles">
        INSERT INTO ORIGINALFILES
        (
        <if test="fileCode != null and fileCode != ''">
            FILECODE,
        </if>
        <if test="recordCode != null and recordCode != ''">
            RECORDCODE,
        </if>
        <if test="fileName != null and fileName != ''">
            FILENAME,
        </if>
        <if test="fileType != null and fileType != ''">
            FILETYPE,
        </if>
        <if test="fileLength != null and fileLength != ''">
            FILELENGTH,
        </if>
        <if test="userCode != null and userCode != ''">
            USERCODE,
        </if>
        <if test="departmentCode != null and departmentCode != ''">
            DEPARTMENTCODE,
        </if>
        <if test="uploadTime != null and uploadTime != ''">
            UPLOADTIME,
        </if>
        <if test="fondsNo != null and fondsNo != ''">
            FONDSNO,
        </if>
        <if test="fillingYear != null and fillingYear != ''">
            FILLINGYEAR,
        </if>
        <if test="mainTitle != null and mainTitle != ''">
            MAINTITLE,
        </if>
        <if test="pdfPath != null and pdfPath != ''">
            PDFPATH,
        </if>
        <if test="originalFilePath != null and originalFilePath != ''">
            ORIGINALFILEPATH,
        </if>
        <if test="watermarkPath != null and watermarkPath != ''">
            WATERMARKPATH,
        </if>
        <if test="trashStatus != null and trashStatus != ''">
            TRASHSTATUS
        </if>
        )
        VALUES(
        <if test="fileCode != null and fileCode != ''">
            #{fileCode},
        </if>
        <if test="recordCode != null and recordCode != ''">
            #{recordCode},
        </if>
        <if test="fileName != null and fileName != ''">
            #{fileName},
        </if>
        <if test="fileType != null and fileType != ''">
            #{fileType},
        </if>
        <if test="fileLength != null and fileLength != ''">
            #{fileLength},
        </if>
        <if test="userCode != null and userCode != ''">
            #{userCode},
        </if>
        <if test="departmentCode != null and departmentCode != ''">
            #{departmentCode},
        </if>
        <if test="uploadTime != null and uploadTime != ''">
            ${uploadTime},
        </if>
        <if test="fondsNo != null and fondsNo != ''">
            #{fondsNo},
        </if>
        <if test="fillingYear != null and fillingYear != ''">
            #{fillingYear},
        </if>
        <if test="mainTitle != null and mainTitle != ''">
            #{mainTitle},
        </if>
        <if test="pdfPath != null and pdfPath != ''">
            #{pdfPath},
        </if>
        <if test="originalFilePath != null and originalFilePath != ''">
            #{originalFilePath},
        </if>
        <if test="watermarkPath != null and watermarkPath != ''">
            #{watermarkPath},
        </if>
        <if test="trashStatus != null and trashStatus != ''">
            #{trashStatus}
        </if>
        )
    </insert>

    <!--获取pdf存放地址-->
    <select id="getPDFUrlByFileCode" resultType="com.wsda.project.model.OriginalFiles">
        SELECT fileName,pdfPath,originalFilePath,watermarkPath FROM ORIGINALFILES  where FILECODE=#{fileCode}
    </select>

    <!--获取指定原文条目-->
    <select id="getOrigianFileInfoByFileCode" resultType="com.wsda.project.model.OriginalFiles">
        SELECT * FROM ORIGINALFILES  where FILECODE=#{fileCode}
        order by TOP DESC
    </select>

    <!--删除原文条目-->
    <delete id="delOrigianFileByFileCode" parameterType="java.lang.String">
        delete  ORIGINALFILES where FILECODE=#{fileCode}
    </delete>

    <!--修改水印pdf地址-->
    <update id="upWatermarkPath" parameterType="java.util.Map">
        UPDATE ORIGINALFILES SET
        <choose>
            <when test="watermarkPath != null and watermarkPath !=''">
                WATERMARKPATH=#{watermarkPath}
            </when>
            <otherwise>
                WATERMARKTXT=''
            </otherwise>
        </choose>
        WHERE  FILECODE=#{fileCode}
    </update>

    <!--修改置顶状态 0默认显示 1置顶显示-->
    <update id="upTopByFileCode" parameterType="java.util.Map">
        UPDATE ORIGINALFILES SET
        TOP=#{top}
        WHERE  FILECODE=#{fileCode}
    </update>
</mapper>
