<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.OriginaFilesMapper">
    <!--根据recordCode获取档案旗下原文-->
    <select id="getFilesByRecordCode" resultType="java.util.HashMap">
        select * FROM ${tableName}
        where  RECORDCODE=#{recordCode}
        <if test="type != null and type != ''">
            AND  TRASHSTATUS=#{type}
        </if>
    </select>

    <!--获取原文存放地址及水印文字-->
    <select id="getUpLoadFilePath" resultType="java.util.HashMap">
        SELECT STOREID,STORETYPE,FILELOC,TIMESTYLEPOS,WATERMARKTXT FROM ORIGINALMANAGESETTING
    </select>

    <!--修改水印文字-->
    <update id="upOriginalmanagesettingBywatermarkTxt" parameterType="java.util.Map">
        UPDATE ORIGINALMANAGESETTING SET
        <choose>
            <when test="watermarkTxt != null and watermarkTxt !=''">
                WATERMARKTXT=#{watermarkTxt}
            </when>
            <otherwise>
                WATERMARKTXT=''
            </otherwise>
        </choose>
        WHERE  STOREID=#{storeId}
    </update>

    <!--添加录入原文纪录表数据-->
    <insert id="addUpLoadFileOriginaFiles" parameterType="com.wsda.project.model.OriginalFiles">
        INSERT INTO ORIGINALFILES
        (
        <if test="FILECODE != null and FILECODE != ''">
            FILECODE,
        </if>
        <if test="RECORDCODE != null and RECORDCODE != ''">
            RECORDCODE,
        </if>
        <if test="FILENAME != null and FILENAME != ''">
            FILENAME,
        </if>
        <if test="FILETYPE != null and FILETYPE != ''">
            FILETYPE,
        </if>
        <if test="FILELENGTH != null and FILELENGTH != ''">
            FILELENGTH,
        </if>
        <if test="USERCODE != null and USERCODE != ''">
            USERCODE,
        </if>
        <if test="DEPARTMENTCODE != null and DEPARTMENTCODE != ''">
            DEPARTMENTCODE,
        </if>
        <if test="UPLOADTIME != null and UPLOADTIME != ''">
            UPLOADTIME,
        </if>
        <if test="FONDSNO != null and FONDSNO != ''">
            FONDSNO,
        </if>
        <if test="FILLINGYEAR != null and FILLINGYEAR != ''">
            FILLINGYEAR,
        </if>
        <if test="MAINTITLE != null and MAINTITLE != ''">
            MAINTITLE,
        </if>
        <if test="PDFPATH != null and PDFPATH != ''">
            PDFPATH,
        </if>
        <if test="ORIGINAPATH != null and ORIGINAPATH != ''">
            ORIGINAPATH,
        </if>
        <if test="WATERMARKPATH != null and WATERMARKPATH != ''">
            WATERMARKPATH,
        </if>
        <if test="TRASHSTATUS != null and TRASHSTATUS != ''">
            TRASHSTATUS
        </if>
        )
        VALUES(
        <if test="FILECODE != null and FILECODE != ''">
            #{FILECODE},
        </if>
        <if test="RECORDCODE != null and RECORDCODE != ''">
            #{RECORDCODE},
        </if>
        <if test="FILENAME != null and FILENAME != ''">
            #{FILENAME},
        </if>
        <if test="FILETYPE != null and FILETYPE != ''">
            #{FILETYPE},
        </if>
        <if test="FILELENGTH != null and FILELENGTH != ''">
            #{FILELENGTH},
        </if>
        <if test="USERCODE != null and USERCODE != ''">
            #{USERCODE},
        </if>
        <if test="DEPARTMENTCODE != null and DEPARTMENTCODE != ''">
            #{DEPARTMENTCODE},
        </if>
        <if test="UPLOADTIME != null and UPLOADTIME != ''">
            ${UPLOADTIME},
        </if>
        <if test="FONDSNO != null and FONDSNO != ''">
            #{FONDSNO},
        </if>
        <if test="FILLINGYEAR != null and FILLINGYEAR != ''">
            #{FILLINGYEAR},
        </if>
        <if test="MAINTITLE != null and MAINTITLE != ''">
            #{MAINTITLE},
        </if>
        <if test="PDFPATH != null and PDFPATH != ''">
            #{PDFPATH},
        </if>
        <if test="ORIGINAPATH != null and ORIGINAPATH != ''">
            #{ORIGINAPATH},
        </if>
        <if test="WATERMARKPATH != null and WATERMARKPATH != ''">
            #{WATERMARKPATH},
        </if>
        <if test="TRASHSTATUS != null and TRASHSTATUS != ''">
            #{TRASHSTATUS}
        </if>
        )
    </insert>

    <!--获取pdf存放地址-->
    <select id="getPDFUrlByFileCode" resultType="java.util.HashMap">
        SELECT PDFPATH,ORIGINAPATH,WATERMARKPATH FROM ORIGINALFILES  where FILECODE=#{fileCode}
    </select>

    <!--获取指定原文条目-->
    <select id="getOrigianFileInfoByFileCode" resultType="com.wsda.project.model.OriginalFiles">
        SELECT * FROM ORIGINALFILES  where FILECODE=#{fileCode}
    </select>

    <!--删除原文条目-->
    <delete id="delOrigianFileByFileCode" parameterType="java.lang.String">
        delete  ORIGINALFILES where FILECODE=#{fileCode}
    </delete>

    <!--修改水印pdf地址-->
    <update id="upWatermarkPath" parameterType="java.util.Map">
        UPDATE ORIGINALFILES SET
        <choose>
            <when test="watermarkPath != null and watermarkPath !=''">
                WATERMARKPATH=#{watermarkPath}
            </when>
            <otherwise>
                WATERMARKTXT=''
            </otherwise>
        </choose>
        WHERE  FILECODE=#{fileCode}
    </update>
</mapper>
