<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.OriginaFilesMapper">
    <!--根据recordCode获取档案旗下原文-->
    <select id="getFilesByRecordCode" resultType="java.util.HashMap">
        select * FROM ${tableName}
        where  RECORDCODE=#{recordCode}
        <if test="type != null and type != ''">
            AND  TRASHSTATUS=#{type}
        </if>

    </select>

    <!--获取原文存放地址-->
    <select id="getUpLoadFilePath" resultType="java.util.HashMap">
        SELECT STORETYPE,FILELOC,TIMESTYLEPOS FROM ORIGINALMANAGESETTING
    </select>


    <!--添加录入原文纪录表数据-->
    <insert id="addUpLoadFileOriginaFiles" parameterType="com.wsda.project.model.OriginalFiles">
        INSERT INTO ORIGINALFILES
        (
        <if test="FILECODE != null and FILECODE != ''">
            FILECODE,
        </if>
        <if test="RECORDCODE != null and RECORDCODE != ''">
            RECORDCODE,
        </if>
        <if test="FILENAME != null and FILENAME != ''">
            FILENAME,
        </if>
        <if test="FILETYPE != null and FILETYPE != ''">
            FILETYPE,
        </if>
        <if test="FILELENGTH != null and FILELENGTH != ''">
            FILELENGTH,
        </if>
        <if test="USERCODE != null and USERCODE != ''">
            USERCODE,
        </if>
        <if test="DEPARTMENTCODE != null and DEPARTMENTCODE != ''">
            DEPARTMENTCODE,
        </if>
        <if test="UPLOADTIME != null and UPLOADTIME != ''">
            UPLOADTIME,
        </if>
        <if test="FONDSNO != null and FONDSNO != ''">
            FONDSNO,
        </if>
        <if test="FILLINGYEAR != null and FILLINGYEAR != ''">
            FILLINGYEAR,
        </if>
        <if test="MAINTITLE != null and MAINTITLE != ''">
            MAINTITLE,
        </if>
        <if test="PDFPATH != null and PDFPATH != ''">
            PDFPATH,
        </if>
        <if test="ORIGINAPATH != null and ORIGINAPATH != ''">
            ORIGINAPATH,
        </if>
        <if test="TRASHSTATUS != null and TRASHSTATUS != ''">
            TRASHSTATUS
        </if>
        )
        VALUES(
        <if test="FILECODE != null and FILECODE != ''">
            #{FILECODE},
        </if>
        <if test="RECORDCODE != null and RECORDCODE != ''">
            #{RECORDCODE},
        </if>
        <if test="FILENAME != null and FILENAME != ''">
            #{FILENAME},
        </if>
        <if test="FILETYPE != null and FILETYPE != ''">
            #{FILETYPE},
        </if>
        <if test="FILELENGTH != null and FILELENGTH != ''">
            #{FILELENGTH},
        </if>
        <if test="USERCODE != null and USERCODE != ''">
            #{USERCODE},
        </if>
        <if test="DEPARTMENTCODE != null and DEPARTMENTCODE != ''">
            #{DEPARTMENTCODE},
        </if>
        <if test="UPLOADTIME != null and UPLOADTIME != ''">
            ${UPLOADTIME},
        </if>
        <if test="FONDSNO != null and FONDSNO != ''">
            #{FONDSNO},
        </if>
        <if test="FILLINGYEAR != null and FILLINGYEAR != ''">
            #{FILLINGYEAR},
        </if>
        <if test="MAINTITLE != null and MAINTITLE != ''">
            #{MAINTITLE},
        </if>
        <if test="PDFPATH != null and PDFPATH != ''">
            #{PDFPATH},
        </if>
        <if test="ORIGINAPATH != null and ORIGINAPATH != ''">
            #{ORIGINAPATH},
        </if>
        <if test="TRASHSTATUS != null and TRASHSTATUS != ''">
            #{TRASHSTATUS}
        </if>
        )
    </insert>


    <!--获取pdf存放地址-->
    <select id="getPDFUrlByFileCode" resultType="java.util.HashMap">
        SELECT PDFPATH,ORIGINAPATH FROM ORIGINALFILES  where FILECODE=#{fileCode}
    </select>
</mapper>
