<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.SystemNoFormatMapper">
    <!--获取展示列表   表数据少用DISTINCT去重复 GROUP BY 也是去重-->
    <select id="getSystemNoFormatList" resultType="java.util.Map">
        SELECT ENTITYCODE,NAME,EMULATIONSHOW FROM (
        SELECT
        T.ENTITYCODE,
        C.NAME,
        T.EMULATIONSHOW,
        row_number()over(partition by T.ENTITYCODE order by T.ENTITYCODE desc) AS rank
        FROM
        SYSTEMNOFORMAT T
        INNER JOIN CLASSNODE C ON C.NODECODE = T.ENTITYCODE
        ORDER BY t.NOFORMATCODE
        ) TEMP
        WHERE <![CDATA[ rank < 2 ]]>
    </select>

    <!--获取指定底层门类档号列表-->
    <!--SELECT-->
    <!--*-->
    <!--FROM SYSTEMNOFORMAT WHERE ENTITYCODE=#{entityCode} ORDER BY NO-->
    <select id="getSystemNoFormatListByEntityCode" resultType="com.wsda.project.model.SystemNoFormat">
        SELECT
            S.*,T.TYPE
        FROM
            SYSTEMNOFORMAT S
            INNER JOIN CLASSNODE C ON C.NODECODE=S.ENTITYCODE
            INNER JOIN TABLECOLUMNDESCRIPTION T ON T.NAME=S.COLUMNNAME
        WHERE
            ENTITYCODE =#{entityCode} AND C.TABLECODE=T.TABLECODE
        ORDER BY
            NO
    </select>

    <!--获取指定底层门类档号列表-->
    <select id="getSystemNoFormatListByTableCode" resultType="com.wsda.project.model.SystemNoFormat">
         SELECT
        *
    FROM SYSTEMNOFORMAT WHERE ENTITYCODE=
        (SELECT NODECODE FROM CLASSNODE WHERE TABLECODE=#{tableCode})
    ORDER BY NO
    </select>

    <!--添加表数据-->
    <insert id="addSystemNoFormat" parameterType="com.wsda.project.model.SystemNoFormat">
        INSERT INTO SYSTEMNOFORMAT(
        NOFORMATCODE,
        ENTITYCODE,
        COLUMNNAME,
        CHINESENAME,
        LENTH,
        NO,
        STYLE,
        SEPARATOR,
        EMULATIONSHOW
        )
        VALUES(
        #{noFormatCode},
        #{entityCode},
        #{columnName},
        #{chineseName},
        #{lenth},
        #{no},
        #{style},
        #{separator},
        #{emulationShow}
        )
    </insert>

    <!--删除档号-->
    <delete id="delSystemNoFormatByEntityCode" parameterType="java.lang.String">
        delete  SYSTEMNOFORMAT where ENTITYCODE=#{entityCode}
    </delete>

</mapper>
