<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.TableViewMapper">
    <select id="getTableView" resultType="java.util.Map">
         SELECT
             v.LISTCODE,
             v.USERCODE,
             t.COLUMNCODE as COLUMNCODE,
             v.SERIAL,
             t.CHINESENAME as TITLE,
             t.NAME as NAME,
             v.WIDTH,v.ENTITYCODE,
             t.TABLECODE,
             t.VISIBLE,
             t.INPUTTYPE
         FROM TABLECOLUMNDESCRIPTION t
         INNER JOIN TABLEINTERFACELISTVIEW v on v.COLUMNCODE=t.COLUMNCODE
         WHERE t.COLUMNCODE IN (SELECT COLUMNCODE FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE= #{tableCode} )
         ORDER BY  v.SERIAL
    </select>

    <!--获取最大的序号-->
    <select id="getSerialMax" resultType="java.util.Map">
        SELECT MAX(SERIAL) MAXSERIAL FROM TABLEINTERFACELISTVIEW
        WHERE COLUMNCODE IN( SELECT COLUMNCODE FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE=#{tableCode} )
    </select>

    <!--获取实体表数据-->
    <select id="getTableInfo" resultType="java.util.Map" parameterType="java.lang.String">
        select
        <foreach collection="columnMap.keys" item="key" open=" " separator=","  close=" " >
            ${key}
        </foreach>
        from ${tableName}
    </select>

    <!--获取选中实体表名-->
    <select id="getTableByTableCode" resultType="java.lang.String">
          SELECT NAME FROM TABLEDESCRIPTION WHERE TABLECODE=#{tableCode}
    </select>
    <!--获取录入界面-->
    <select id="getInputCard" resultType="java.util.HashMap">
          SELECT * FROM TABLEINTERFACECARD WHERE TABLECODE=#{tableCode}
    </select>
    <!--获取录入界面-->
    <select id="getInputTypeByTableCodeAndName" resultType="java.util.HashMap">
          SELECT TYPE,INPUTTYPE FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE=#{tableCode} and NAME=#{name}
    </select>

    <!--获取录入实体表数据-->
    <insert id="addTableInfo" parameterType="java.util.Map">
          INSERT INTO ${tableName}
            <foreach collection="columnMap.keys" item="key" open="(" close=")" separator=",">
                ${key}
            </foreach>
          VALUES
            <foreach collection="columnMap.values" item="value" open="(" close=")" separator=",">
                #{value}
            </foreach>
    </insert>
</mapper>
