<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wsda.project.dao.TableViewMapper">

    <select id="getTableView" resultType="java.util.Map">
         SELECT
             v.LISTCODE,
             v.USERCODE,
             t.COLUMNCODE as COLUMNCODE,
             v.SERIAL,
             t.CHINESENAME as TITLE,
             t.NAME as NAME,
             v.WIDTH,v.ENTITYCODE,
             t.TABLECODE,
             t.VISIBLE,
             t.INPUTTYPE
         FROM TABLECOLUMNDESCRIPTION t
         INNER JOIN TABLEINTERFACELISTVIEW v on v.COLUMNCODE=t.COLUMNCODE
         WHERE v.COLUMNCODE IN (SELECT COLUMNCODE FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE= #{tableCode} )
         ORDER BY  v.SERIAL
    </select>

    <!--获取最大的序号-->
    <select id="getSerialMax" resultType="java.util.Map">
        SELECT MAX(SERIAL) MAXSERIAL FROM TABLEINTERFACELISTVIEW
        WHERE COLUMNCODE IN( SELECT COLUMNCODE FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE=#{tableCode} )
    </select>

    <!--获取实体表数据   SYSTEMUSERCOLLECTION用户收藏表 uscId用户编号-->
    <select id="getTableInfo" resultType="java.util.Map" parameterType="java.lang.String">
        select
        <foreach collection="columnMap.keys" item="key" open=" " separator=","  close=" " >
            ${key}
        </foreach>
        <if test="uscId != null and uscId != ''">
            ,USC.ID AS COLLECTIONID
        </if>
        from ${tableName} TEMP
        <if test="uscId != null and uscId != ''">
            LEFT  JOIN  SYSTEMUSERCOLLECTION USC on USC.ARCHIVESCODE=TEMP.RECORDCODE
        </if>
        where 1=1  AND
        <if test="type != null and type != ''">
            TRASHSTATUS=#{type}
        </if>
        <if test="whereSql != null and whereSql != ''">
            ${whereSql}
        </if>
        <if test="uscId != null and uscId != ''">
            OR USC.USERCODE=#{uscId}
        </if>
        <if test="sortSql != null and sortSql != ''">
             ${sortSql}
        </if>
    </select>

    <!--获取选中实体表名-->
    <select id="getTableNameByTableCode" resultType="java.lang.String">
          SELECT NAME FROM TABLEDESCRIPTION WHERE TABLECODE=#{tableCode}
    </select>
    <!--获取录入界面-->
    <select id="getInputCard" resultType="java.util.HashMap">
          SELECT * FROM TABLEINTERFACECARD WHERE TABLECODE=#{tableCode} ORDER BY LOADNO
    </select>

    <!--获取录入界面字段名称-->
    <select id="getInputCardFieldName" resultType="java.lang.String">
          SELECT FIELDNAME FROM TABLEINTERFACECARD WHERE TABLECODE=#{tableCode} AND FIELDNAME !='null' ORDER BY LOADNO
    </select>


    <!--获取录入界面字段的类型-->
    <select id="getInputTypeByTableCodeAndName" resultType="java.util.HashMap">
          SELECT TYPE,INPUTTYPE,CANNULL FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE=#{tableCode} and NAME=#{name}
    </select>

    <!--获取录入实体表数据-->
    <insert id="addTableInfo" parameterType="java.util.Map">
          INSERT INTO ${tableName}
            <foreach collection="columns" item="item" open="(" separator=","  close=")" >
                ${item}
            </foreach>
          VALUES
            <foreach collection="values" item="item" open="(" separator=","  close=")" >
                ${item}
            </foreach>
    </insert>

<!--修改表列数据 0默认，1删除-->
    <update id="upArchives" parameterType="java.util.Map">
        UPDATE ${tableName} SET
           TRASHSTATUS=#{trashStatus}
        WHERE  ${CODE}=#{recordCode}
    </update>

<!--分组-->
    <select id="getGroup" resultType="java.lang.String">
          SELECT ${group} FROM ${tableName} GROUP BY ${group}
    </select>

    <!--修改表列数据-->
    <update id="upArchivesByRecordCode" parameterType="java.util.Map">
        UPDATE ${tableName} SET
            <foreach collection="columnMap" index="key" item="vlue" open=" " separator=","  close=" " >
                ${key}=${vlue}
            </foreach>
        WHERE  ${CODE}=#{recordCode}
    </update>

    <!--查询档案条目-->
    <select id="getArchivesByRecordCode" resultType="java.util.Map">
          SELECT * FROM ${tableName}
           WHERE ${CODE}=#{recordCode}
    </select>

    <!--获取档案字段的类型-->
    <select id="getTypeByTableCode" resultType="java.util.HashMap">
          SELECT NAME,TYPE FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE=#{tableCode}
    </select>

    <!--获取档案的原文总数-->
    <select id="getYuanWenCountByRecordCode" resultType="java.lang.Integer">
          SELECT YUAN_WEN_SHU_LIANG FROM ${tableName} WHERE RECORDCODE=#{recordCode}
    </select>

    <!--修改表档案列原文数量-->
    <update id="upArchivesYuanWenCountByRecordCode" parameterType="java.util.Map">
        UPDATE ${tableName} SET
        YUAN_WEN_SHU_LIANG=#{count}
        WHERE  RECORDCODE=#{recordCode}
    </update>


    <!--查询档案归档条目-->
    <select id="getArchivesByIsArchiveFlag" resultType="java.util.Map">
          SELECT ${sql} FROM ${tableName}
           WHERE RECORDCODE=#{recordCode} and ARCHIVEFLAG='已归档'
    </select>
</mapper>
